@import "tailwindcss";

@theme {
  --font-sans: 'Nunito', 'PingFang SC', 'Microsoft YaHei', sans-serif;
  --color-primary: #3b82f6;
  --color-primary-hover: #2563eb;
}

@layer base {
  body {
    @apply antialiased text-slate-800 bg-slate-50 font-sans;
  }
}

@media print {
  @page {
    size: landscape;
    margin: 0;
  }

  body {
    @apply bg-white;
  }

  /* Hide scrollbars in print */
  ::-webkit-scrollbar {
    display: none;
  }
}

/* Custom Scrollbar for web */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-200 rounded-full hover:bg-slate-300;
}